# Require askmode approvers for all PRs to the release branch
/       @google-gemini/gemini-cli-askmode-approvers   branch=release

# Don't require review for markdown files
**/*.md

# Don't require review for docs
docs/